DB_HOST={{ hostvars[groups["db"][0]].internal_ip }}
DB_PORT={{ db_port }}
DB_NAME={{ db_name }}
DB_USER={{ db_user }}
DB_PASSWORD={{ vault_db_password }}
SECRET_KEY={{ vault_app_secret_key }}
PORT={{ app_port }}
